<h1>Home Page</h1>

<h1 id="first">First</h1>
<h1 id="second">Second</h1>
<h1 id="third">Third</h2>
<h1 id="fourth">fourth</h4>

<button onclick="changeColors()">colors</button>

<button onclick="grabData()">apis</button>

<button onclick="hideTrucks()">hide</button>
<button onclick="showTrucks()">show</button>
<button onclick="showTacos()">show tacos</button>
<div id="apiData">

</div>